@use '../utils' as *;

/*---------------------------------------
         Background color
-----------------------------------------*/
.white-bg {
	background: var(--tp-common-white);
}
.black-bg {
	background: var(--tp-common-black);
}
.black-bg-2 {
	background: var(--tp-common-black-4);
}
.purple-bg {
	background: var(--tp-common-purple);
}
.grey-bg {
	background: var(--tp-grey-1);
}
.grey-bg-2 {
	background: var(--tp-grey-2);
}
.theme-bg {
	background: var(--tp-theme-1);
}
.pink-bg{
	background: var(--tp-common-pink-2);
}
.pink-bg-3{
	background: var(--tp-common-pink-3);
}
.green-bg{
	background: var(--tp-common-green);
}

