@use '../utils' as *;

/*----------------------------------------*/
/*  15. error css start 
/*----------------------------------------*/
.tp-error {
    &__item {
        & .tp-purple-btn-sm {
            border-radius: 0;
            height: 60px;
            line-height: 60px;
        }
    }
    &__title {
        color: var(--tp-common-black-3);
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 40px;
        @media #{$xxl,$xxl,$xl}{
            font-size: 40px;
        }
        @media #{$lg}{
            font-size: 38px;
        }
        @media #{$md}{
            font-size: 35px;
        }
        @media #{$xs}{
            font-size: 30px;
        }
        & > span {
            color: #735CFC;
        }
    }
    &__content {
        & > span {
            color: #555;
            font-size: 18px;
            font-weight: 400;
            @media #{$lg,$md}{
                font-size: 16px;
            }
            @media #{$xs}{
                font-size: 15px;
            }
        }
    }
}